footer{
	background-color: #242424;
	color: #949494;
	padding: 2% 2% 0 2%;
	border-top: 2px solid #FEF301;
}
.info{
	padding-top: 2%;
	float: right;
}
.info a{
	color: #949494;
	padding: 0 10px 0 10px;
}
footer label{
	padding-left: 45%;
	font-size: 0.7em
}